<app-user-navbar></app-user-navbar>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        
            <label for="" class="form-label">complaint</label>
            <textarea name="complaints" [(ngModel)]="complaints" id="" cols="30" rows="10" class="form-control"></textarea>

        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button (click)="readValue()" class="btn btn-success">submit</button>
        </div>
    </div>
</div>
